body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 0;
}

h1 {
  font-size: 1px;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  margin-top: 15px;
}

h5 {
  font-size: 16px;
  margin-top: 15px;
}

h6 {
  font-size: 14px;
  margin-top: 15**⬤**